<header>
  <div class="page-header">
    <h1>{{heading}}</h1>
  </div>
</header>
<div class="a11y-exercise">
  <contentinfo role="contentinfo">
    <h2 id="ally-learning-objectives">Learning Objectives</h2>
    <div class="a11y-exercise-learning-objectives">
      <ol aria-labelledby="ally-learning-objectives">
        {{yield (hash
          objectives=(component 'pass-through')
          instructions=(component 'x-empty')
          results=(component 'x-empty')
        )}}
      </ol>
    </div>
    <h2 id="a11y-instructions">Instructions</h2>
    <div class="a11y-exercise-instructions">
      <ol aria-labelledby="a11y-instructions">
        {{yield (hash
          objectives=(component 'x-empty')
          instructions=(component 'pass-through')
          results=(component 'x-empty')
        )}}
      </ol>
    </div>
  </contentinfo>
  <main>
    <h2 id="ally-results">Results</h2>
    <div class="a11y-exercise-results">
      <ul class="user-profiles-list">
        {{yield (hash
          objectives=(component 'x-empty')
          instructions=(component 'x-empty')
          results=(component 'pass-through')
        )}}
      </ul>
    </div>
  </main>
</div>