<h3>Submit Feedback</h3>
<form onsubmit={{action 'submitFeedback'}}>
  <div class="submit-feedback-form-control">
    <label for="first-name">First Name</label>
    <input id="last-name" placeholder="Johnny" type="text"/>
  </div>
  <div class="submit-feedback-form-control">
    <label for="last-name">Last Name</label>
    <input id="last-name" placeholder="Appleseed" type="text"/>
  </div>
  <div class="submit-feedback-form-control">
    <label for="feedback">Feedback</label>
    <textarea id="feedback"/>
  </div>
  <button type="submit">
    Submit Feedback
  </button>
</form>