@import 'card';
@import 'buttons';
@import 'form';

@mixin screen-reader-only {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-only {
  @include screen-reader-only;
}

article {
  padding: 16px;

  p {
    margin-top: 14px;
  }
}
