@mixin a11y-workshop-button {
  font-size: 1.1rem;
  background: white;
  border: 1px solid $grey-50;
  padding: .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  &:hover, &:focus {
    text-decoration: underline;
    box-shadow: 0 0 3px $grey-80;
  }
  &:active {
    text-decoration: underline;
    background: $grey-99;
    color: $grey-5;
  }
}

.a11y-workshop-icon-button {
  appearance: none;
  background: white;
  border: 1px solid $grey-80;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $grey-30;
  overflow: hidden;
  & svg {
    fill: $grey-30;
  }
  &:hover, &:focus {
    box-shadow: 0 0 3px $grey-90;
    color: $grey-5;
    & svg {
      fill: $grey-5;
    }
  }
}