@mixin form-style() {
  max-width: 600px;
  width: 50%;
  margin: 0 auto 1.5rem auto;
  border: 1px solid $grey-80;
  box-shadow: 0 0 3px $grey-90;
  padding: .5rem 1rem;
  border-radius: 3px;
  & h3 {
    margin-bottom: .5rem;
  }
  &-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    & input[type='text'] {
      font-size: 1rem;
      padding: .25rem;
      &::placeholder{
        color: $grey-30;
      }
    }
    & label {
      margin-bottom: .25rem;
      font-weight: 600;
    }
    & textarea {
      height: 100px;
      resize: none;
    }
  }
  &-radio-group-control {
    & > label {
      font-weight: 600;
    }
  }
  button[type='submit'] {
    font-size: 1.1rem;
    background: white;
    border: 1px solid $grey-50;
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    &:hover, &:focus {
      text-decoration: underline;
      box-shadow: 0 0 3px $grey-80;
    }
    &:active {
      text-decoration: underline;
      background: $grey-99;
      color: $grey-5;
    }
  }
}