$black: black;
$white: white;

$grey-5: lighten($black, 5%);
$grey-15: lighten($black, 15%);
$grey-30: lighten($black, 30%);
$grey-50: lighten($black, 50%);
$grey-80: lighten($black, 80%);
$grey-90: lighten($black, 90%);
$grey-95: lighten($black, 95%);
$grey-99: lighten($black, 99%);