body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', Arial, sans-serif;

  & > .ember-view {
    height: 100%;
    width: 100%;
  }
}

body {
  font-size: 16px;
  background-color: $grey-99;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

code {
  background: white;
  border: 1px solid darkred;
  color: darkred;
  padding: 0 3px;
  font-size: 14px;
  border-radius: 3px;
}