@import '_colors';
@import '_layouts';
@import '_reset';
@import '_burger-menu.scss';
@import 'mixins/_main';
@import 'exercises/_main';
@import 'components/_main';

.active {
  font-weight: bold;
}

.plain-list {
  list-style: none;
  margin-left: -30px;
  margin:0;
  padding-left:20px;
}

h4 {
  padding-left: 16px;
}
