@import '_colors';
@import '_layouts';
@import '_reset';
@import '_burger-menu.scss';
@import 'mixins/_main';
@import 'exercises/_main';
@import 'components/_main';

.active {
  font-weight: bold;
}

.bulleted {
  list-style: initial;
  margin-left: 0;
}
