.a11y-workshop-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  touch-action: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &-background {
    background: rgba(#3B3B3B, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &-content {
    max-width: 35rem;
    padding: 1rem;
    background: white; /* for illustrative purposes */

    display: flex;
    flex-direction: column;
    z-index: 101;

    @media only screen and (max-width: 600px) {
      max-width: 100%;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

.a11y-3-modal{
  &-heading{
    margin-bottom: 1rem;
  }
  &-select{
    margin-bottom: 1rem;
  }
  &-options{
    display: flex;
    & > button{
      flex: 1;
      &:first-of-type{
        margin-right: .5rem;
      }
    }
  }
}