
.user-profile {
  display: flex;
  padding: $card-gutter;
  @include card;
  &-image {
    margin-right: 1rem;
  }
  &-info {
    flex: 1;
    padding-top:.5rem;
    &-name {
      font-size: 1.2rem;
      font-weight: 600;
    }
    &-bio {
      max-height:6em;
      overflow: auto;
      color: $grey-30;
    }
  }
  &-engage{
    align-self: center;
    margin-left: 1rem;
    margin-right: .5rem;
    & svg {
      transition: transform .3s;
    }
    &-remove{
      svg {
        transform: rotate(45deg);
      }
    }
  }
  &.is-selected{
    border-left: solid 3px #000;
    margin-left: -2px;
  }
}
