{{#exercise-layout heading="Button/Link Labels" as |c|}}
  {{#c.objectives}}
    <li>
      Given an ember component and its relevant test, a developer should be able to use the ember-a11y-testing
      framework to assert that no a11y violations exist.
    </li>
    <li>
      Given an ember acceptance test, a developer should be able to use the ember-a11y-testing
      framework to assert that no a11y violations exist.
    </li>
    <li>
      A developer can describe solutions for accessibility issues with button text and alt text.
    </li>
  {{/c.objectives}}

  {{#c.instructions}}
    <li>
      Run tests: <a href="http://localhost:4200/tests?testId=9ccbe82c">http://localhost:4200/tests?testId=9ccbe82c</a>
    </li>
    <li>
      Run aXe audit on this page.
    </li>
    <li>
      Fix the accessibility issues.
    </li>
  {{/c.instructions}}

  {{#c.resources}}
    <ul aria-labelledby="a11y-resources">
      <li>
        <a href="https://marcysutton.com/links-vs-buttons-in-modern-web-applications/">Links vs. Buttons in Modern Web Applications</a>
      </li>
      <li>
        <a href="https://dequeuniversity.com/rules/axe/3.0/button-name">Rule: Buttons must have discernible text</a>
      </li>
    </ul>
  {{/c.resources}}

  {{#c.exercise}}
    <ul class="user-profiles-list plain-list">
      {{#each model as |user|}}
        <li class="user-profiles-list-item">
          {{user-profile user=user}}
        </li>
      {{/each}}
    </ul>
  {{/c.exercise}}
{{/exercise-layout}}
