{{#exercise-layout heading="6. Color Contrast" as |c|}}
  {{#c.objectives}}
    <li>TBD</li>
  {{/c.objectives}}

  {{#c.instructions}}
    <li>TBD</li>
  {{/c.instructions}}

  {{#c.results}}
    <div class="brand-logo">
      Cool Brand!
    </div>
  {{/c.results}}
{{/exercise-layout}}
