{{! intentionally not using exercise-layout to produce different document structure }}

<div class="page-header">
  <h3>5. Document Structure</h3>
</div>

<div class="a11y-exercise">
  <h2 id="ally-learning-objectives">Learning Objectives</h2>
  <div class="a11y-exercise-learning-objectives">
    <ol aria-labelledby="ally-learning-objectives">
      <li>TBD</li>
    </ol>
  </div>
  <h2 id="a11y-instructions">Instructions</h2>
  <div class="a11y-exercise-instructions">
    <ol aria-labelledby="a11y-instructions">
      <li>TBD</li>
    </ol>
  </div>

  <h2>Results</h2>
  <div class="a11y-exercise-results">
    Some Content!
  </div>
</div>
