{{! intentionally not using exercise-layout to produce different document structure }}

<div class="page-header">
  <h3>5. Document Structure</h3>
</div>

{{!-- <div class="a11y-exercise">
  <h2 id="ally-learning-objectives">Learning Objectives</h2>
  <ol aria-labelledby="ally-learning-objectives">
    <li>TBD</li>
  </ol>
</div> --}}

<div class="a11y-exercise">
  <h2 id="a11y-instructions">Instructions</h2>
  <ol aria-labelledby="a11y-instructions">
    <li>
      Run aXe audit on this page.
    </li>
    <li>
      Fix the accessibility issues.
    </li>
  </ol>
</div>

<div class="a11y-exercise">
  <h2 id="a11y-resources">Resources</h2>
  <ul class="bulleted" aria-labelledby="a11y-resources">
    <li>
      <a href="https://dequeuniversity.com/rules/axe/3.0/landmark-one-main">Rule: There must only be one main landmark to navigate to the primary content of the page, even if the page contains iframes.</a>
    </li>
    <li>
      <a href="https://dequeuniversity.com/rules/axe/3.0/page-has-heading-one">Rule: Page must contain a level-one heading</a>
    </li>
    <li>
      <a href="https://dequeuniversity.com/rules/axe/3.0/region">Rule: Content should be contained in a landmark region</a>
    </li>
  </ul>
</div>

<div class="a11y-exercise">
  <h2>Exercise</h2>
  <article>
    <h3>Lorem</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere congue ex, eu consequat nibh sagittis vitae. Aliquam in vulputate massa, at porta sem. Quisque lacinia tincidunt tellus, vitae iaculis neque sodales at. Aliquam nec ex arcu. Nam accumsan purus faucibus libero aliquam, sed mollis dolor iaculis. Etiam et nulla eget lectus porta rutrum. Fusce convallis aliquam neque, id elementum lectus condimentum id.
    </p>
    <p>
      Nunc sollicitudin mi interdum porta tincidunt. Proin pulvinar efficitur dolor. Pellentesque sed rhoncus arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer nec urna lacus. Donec sed tellus ut mi efficitur ultrices in et velit. Maecenas fermentum tincidunt neque, et scelerisque mi vulputate ac. Phasellus commodo, libero quis scelerisque maximus, ligula sem porttitor dui, eget dapibus orci nulla vel magna. Sed a mattis urna, vel scelerisque diam. Etiam vel mauris ut nunc porttitor egestas. In consectetur odio sed leo convallis, in imperdiet magna mattis. Phasellus ullamcorper pretium augue, eget lacinia erat rhoncus venenatis. Praesent non posuere purus. Quisque placerat, enim sed molestie rhoncus, sem diam egestas tortor, in vehicula elit sem et ex. Aliquam fermentum, mauris eget lobortis suscipit, est sem feugiat quam, sit amet finibus quam libero faucibus tellus.
    </p>
  </article>
</div>