{{#exercise-layout heading="4. List Children" as |c|}}
  {{#c.objectives}}
    <li>
      TBD
    </li>
  {{/c.objectives}}

  {{#c.instructions}}
    <li>
      TBD
    </li>
  {{/c.instructions}}

  {{#c.results}}
    <ul class="list-children-list">
      {{list-adder onItemCreated=(action 'addItem')}}

      {{#each items as |item|}}
        <li>{{item}}</li>
      {{/each}}
    </ul>
  {{/c.results}}
{{/exercise-layout}}
