@import 'button-link-text';
@import 'focus-management';
@import 'form-elements';
@import 'color-contrast';

.sidebar {
  display: inline-block;
  width: 240px;
  vertical-align: top;
}

.main {
  display: inline-block;
  width: 850px;
}

.page-header {
  border-bottom: 1px solid $grey-80;
  background: white;
  margin-bottom: 1em;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  justify-content: space-between;
}

.a11y-exercise {
  @include card;

  background: $grey-95;
  h2 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
