.brand-logos {
  display: flex;
  flex-wrap: wrap;
}

.brand-logo {
  text-align: center;
  width: 90px;
  padding: 10px;
  margin: 0 1rem 1rem 1rem;

  &.disabled{
    cursor: not-allowed;
    background-color: #666;
    color: white;
  }

  &-red {
    background-color: darken(#fa0000, 10%);
    color: white;
  }
  &-green {
    background-color: darken(#3fff00, 25%);
    //color: #ffdf05;
    color: white;
  }
  &-blue {
    color: white;
    background-color: darken(#7777cc, 20%);
  }
  &-orange {
    background-color: darken(darkorange, 15%);
    color: white;
  }
  &-black {
    background-color: darken(#777777, 1%);
    color: white;
  }
  &-white {
    background-color: white;
    color: darken(mediumaquamarine, 75%);
    border: 1px solid $grey-50;
  }
}
