<h1>Setup</h1>

<ul>
  <li>
    Install <a href="https://chrome.google.com/webstore/detail/axe/lhdoppojpmngadmnindnejefpokejbdd">aXe Extension</a>.
  </li>
  <li>
    Install <a href="https://chrome.google.com/webstore/detail/spectrum/ofclemegkcmilinpcimpjkfhjfgmhieb/related">Spectrum Chrome Extension</a>
  </li>
  <li>
    Clone repo: <a href="https://github.com/dbollinger/ember-a11y-workshop">dbollinger/ember-a11y-workshop</a>.
  </li>
  <li><code>yarn</code></li>
  <li><code>ember s</code></li>
  <li>Open: <a href="http://localhost:4200">http://localhost:4200</a></li>
  <li>Open: <a href="http://localhost:4200/tests">http://localhost:4200/tests</a></li>
</ul>
