<header>
  <div class="page-header">
    <h1>Exercises</h1>
  </div>
</header>

<div class="a11y-exercise">
  <nav>
    <div class="a11y-exercise-learning-objectives">
      <ol>
        <li>
          {{link-to 'Exercise 1 - User Profiles' 'a11y-1'}}
        </li>
        <li>
          {{link-to 'Exercise 2 - Forms and Form Controls' 'a11y-2'}}
        </li>
        <li>
          {{link-to 'Exercise 3 - Notifications and focus management' 'a11y-3'}}
        </li>
        <li>
          {{link-to 'Additional Activities' 'a11y-activities'}}
        </li>
      </ol>
    </div>
  </nav>
</div>
